/* General */
* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    background-color: #fcffff;
}

/* Animación para el encabezado */
@keyframes slideInFromLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
} 

/* Encabezado */
header {
    width: 100%;
    background-color: #00c2ab;
    padding: 15px 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    animation: slideInFromLeft 0.5s ease-out;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
    position: relative;
}

.logo {
    max-width: 150px;
    position: absolute;
    left: 0;
}



.nombre-software {
    font-size: 2rem;
    color: white;
    margin: 0;
}



/* Contenedor Principal */

main {
    margin-top: 200px;  
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.grupo {
    
    display: flex;
    justify-content: center;
    margin-bottom: 20px; 
}

button {
    background-color: #00c2ab;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 20px;
    border-radius: 8px;
    cursor: pointer;
    margin: 10px; 
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

button i {
    margin-right: 10px; 
}

button:hover {
    background-color: #008f7a; 
}


/* Pie de Página */
footer {
    width: 100%;
    background-color: #00c2ab;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}
